.container{
    width: 100%;
    min-height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loading{
            font-size: clamp(1.5rem, 0.9vw + 0.75rem, 2.25rem);
            transform: translateX(17px);
            overflow: hidden;
}
.span{
    position: relative;
}
.span::after{
     content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #fff;
            animation: dots 2s steps(4, end) infinite;
}
  @keyframes dots{
            100%{
            left:100%;
            }
        }