.linksBox{
     display: flex;
    flex-direction: column;
    
}
.link{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 200px;
    color: black;
    border-radius: 10px;
}

.link:hover{
    background-color: rgba(0, 0, 0, 0.273);
}
.imgBox{
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

