.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    padding: 90px 0 190px 0;
    margin-bottom: 40px;
    background-image: url('../../assets/donutsBgc.jpg');
}
.registerPanel{
    border: 2px solid #B8B4B4;
    border-radius: 35px;
    padding: 50px;
    box-shadow: 4px 4px 4px 0px #B8B4B4;

    max-width: 800px;
    backdrop-filter: blur(7px);
}
.registerHeaderBox h1{
     font-size: clamp(2rem , 0.7rem + 1.4vw, 1.3rem + 2vw);
     margin-bottom: 20px;
}
.registerHeaderBox p{
    
    margin-bottom: 30px;
}

.registerHeaderBox{
    text-align: center;
}

 .labelAndInputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
 }
  .labelAndInputBox label {
    
    margin-bottom: 10px;
  }
   
  .labelAndInputBox input{
    
    padding: 5px 5px 5px 15px;
    border: 2px solid #B8B4B4;
    border-radius: 35px;
    height: 45px;
    background-color: transparent;
    outline: none;
  }
  .checkboxContainer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .checkboxInput{
    width: 22px;
    height: 22px;
  }
  .checkboxLabel{
    margin-left: 10px;
    transition: font-size 0.2s ease;
  }
  
  .checkboxLabel:hover{
    
    cursor: pointer;
  }

  .btnContainer{
    text-align: center;
}
.btnContainer button{
    
    width: 100%;
    padding: 20px;
     border: none;
    border-radius: 35px;
    background-color: #F9DEDE;
    font-weight: 600;
    cursor: pointer;
  }

  .btnContainer button:hover{
    background-color: #B8B4B4;
  }

  .registerHeaderBox p, 
  .labelAndInputBox label, 
  .checkboxLabel, 
  .labelAndInputBox input, 
  .btnContainer button{
    font-size: clamp(1.1rem, .6vw + .75rem, .6vw + 1.25rem);
  }

  .errorMessage{
    color: red;
    margin: 10px 0;
  }
  @media(orientation: portrait){
    
    .registerPanel{
        padding: 40px 20px;
        max-width: 90%;
    }
  }

    input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(0, 0, 0);
    box-shadow: inset 0 0 20px 20px rgba(211, 19, 19, 0);
}