.emptyCart{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.emptyCart p{
    font-size: clamp(2.4rem, 2.8rem + 1.5vw, .4rem + 4vw);
    text-align: center;
}
.emptyCart a{
    display: inline-block;
    width: 100%;
    max-width: 350px;
    text-align: center;
    text-decoration: none;
    background-color: #f9dede;
    color: black;
    font-size: clamp(1rem, .7rem + 1vw, 1rem + 1.3vw);
    padding: 10px 15px;
    margin-top: 40px;
    border-radius: 30px;
    transition: background-color 0.2s linear;
}

.emptyCart a:hover{
    background-color: #b7b5b5;
}

.main{
    display: flex;
    width: 90%;
    margin: 0 auto 100px auto;
}
.cartContainer{
    width: 60%;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(2rem, .7rem + 1.1vw, 1rem + 1.5vw);
}
.header a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: clamp(1rem, .7rem + 1vw, 1rem + 1.3vw);
}
.cart{
    margin: 20px 0;
}
.infoBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    padding: 5px 20px;
    background-color: #D9D9D9;
}
.infoBar p{
     font-size: clamp(1rem, .7rem + .7vw, 1rem + 1vw);
}
.productTitle{
    margin-right: 15%;
}
.productPrice{
    margin-right: 2%;
}
.productSum{
    margin-right: -3%;
}
.productRemove{
    margin-right: -2%;
}
.imageContainer{
    position: relative;
    width: 75px;
    height: 75px;
}

.cartItem{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    margin: 30px 0;
}
.titleAndImageContainer{
     display: flex;
     align-items: center;
}
.prodName{
    width: 100%;
    max-width: 140px;
    margin-left: 30px;
    font-size: clamp(.5rem, .7rem + .7vw, .6rem + .4vw);
}
.prodPrice{
    display: flex;
    justify-content: center;
    align-items: center;
}
.prodPrice p{
    font-size: clamp(1rem, .7rem + .7vw, 1rem + 1vw);
}
.counterBox{
    display: flex;
    align-items: center;

    border: 2px solid #F793AF;
    padding: 3px 10px;
    border-radius: 60px;
    margin-top: 10px;
}
.quantityContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, .7rem + .7vw, 1rem + 1vw);
}
.counterButton{
    border: none;
    font-size: clamp(1rem, .7rem + .7vw, 1rem + 1vw);
    cursor: pointer;
    /* margin: 0 5px; */
 height: 100%;
    /* background-color: red; */
    width: 20px;
     
}
.minus{
    margin-bottom: 2%;
    margin-right: 10px;
   
}

.plus{
    margin-left: 10px;
    
}
.quantityParagraph{
    font-size: medium;
}
.removeProdContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.removeBtn{
    
    border: none;
    cursor: pointer;
    font-size: clamp(1rem, .7rem + .7vw, 1rem + 1vw);
}
.itemTotal{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1rem, .7rem + .7vw, 1rem + 1vw);

    width: 110px;
}

.summaryContainer{
    margin-left: 40px;
}

.headerSummary{
    display: flex;
    justify-content: end;
    font-size: clamp(2rem, .7rem + 1.1vw, 1rem + 1.5vw);
}

.discountBox{
    border-radius: 14px;
    padding: 30px;
    margin: 20px 0;
    background-color: #D9D9D9;
}

.discountBox p{
    font-size: clamp(1.1rem, .6vw + .75rem, 1.25rem);
    margin-bottom: 20px;
}

.inputContainer input, .inputContainer button{
    font-size: clamp(.9rem, .6vw + .75rem, 1.25rem);
}
.inputContainer input, .inputContainer button{
    padding: 10px 15px;
    border-radius: 60px;
    border: none;
    outline: none;
}

.spanDiscount{
    margin-left: 10px;
}

.inputContainer button{
   
    background-color: #818181;
    color: snow;
     margin-left: 10px;
     cursor: pointer;
}

.inputContainer button:hover{
        background-color: #575656;
}

.discountSum p{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.linksContainer{
    display: flex;
    height: 220px;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
 
.linksContainer a{
    font-size: clamp(1rem, .6vw + .75rem, 1.25rem);
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

.loginLink{
    padding: 5px 15px;
    border: 2px solid #B9B7B7;
    border-radius: 10px;
    box-shadow: 0 4px  4px 0 #B9B7B7;
}

.orderLink{
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #D9D9D9;
}

@media(max-width: 1320px){
    .main{
        flex-direction: column;
        align-items: center;
    }
    .cartContainer{
        width: 100%;
    }
    .summaryContainer{
        max-width: 500px;
    }

    
}

@media(max-width: 800px){
    .imageContainer{
    
    width: 35px;
    height: 35px;
}
.cartItem{
    padding: 0;
}
.prodName{
    margin-left: 10px;
}
.productTitle{
    margin-right: 0;
}
.minus{
    margin-right: 0;
}
.plus{
    margin-left: 0;
}
.headerSummary{ 
    justify-content: center;
}
.inputContainer button{
    margin-top: 20px;
}
.summaryContainer{
    margin: auto;
}
}