.main{
    /* width: 100%; */
    padding: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    margin-bottom: 150px;
}

.main h1{
    text-align: right;
}

.userDataBox, .userOrders{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding: 20px;
    margin-top: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.214);
}


.dataContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.linkContainer, .dataContainer{
    font-size: clamp(.9rem, .6vw + .75rem, 1.25rem);
}

.linkContainer{
    align-self: flex-end;
    margin-top: 20px;
}
.linkContainer a{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.544);
    text-decoration: none;
    color: black;
    transition: background-color .2s ease-in-out;
}
.linkContainer a:hover{
    background-color: rgba(0, 0, 0, 0.225);
}

.rightText{
    text-align: right;
}
.table{
    text-align: center;
}

.userOrders h2{
    margin-bottom: 10px;
}

@media(max-width: 512px){
    .main{
        padding: 0 10px;
    }
}