.main{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.main h1{
    text-align: center;
}
.main   p{
    font-size: clamp(1.1rem, .4vw + .75rem, .6vw + 1rem);
    text-align: center;
    margin: 10px 0;
}
.main form{
    height: 90%;
    margin-top: 20px;
}
.userDataInputsBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.inputBox{
    max-width: 300px;
}
.inputBox input{
    width: 100%;
    font-size: clamp(1.1rem, .6vw + .75rem, .6vw + 1.25rem);
    background-color: #0000;
    border: 2px solid #b8b4b4;
    border-radius: 35px;
    outline: none;
    height: 45px;
    padding: 5px 5px 5px 15px
}
