.article{
 display: flex;
 padding: 50px;
 margin: 120px 0;

 box-shadow: -6px 0 10px -3px #F793AF,
             0 -6px 10px -3px #F793AF;
 border-radius: 75px;
}
.ImgContainer{
    position: relative;
    width: clamp(15rem, 4vw + 25rem, 15rem + 12vw);
    height: clamp(15rem, 4vw + 15rem, 15rem + 7.5vw);
     
}
.productTextContainer{
    margin-left: 50px;
}

.productTextContainer h2{
    text-transform: uppercase;
    font-size: clamp(2rem, 1.2rem + 1.1vw, 1rem + 1.5vw);
    margin-bottom: 30px;

}
.productTextContainer p{
   
        font-size: clamp(1.4rem, 0.75rem + 0.6vw, 1.25rem + 0.6vw);
}
.description{
     width: 70%;
    margin-bottom: 30px;
}

.price{
    font-size: clamp(2rem, 1.2rem + 1.1vw, 1rem + 1.5vw);
}
 
.productBtnContainer button{
    font-size: clamp(.4rem, 0.7rem + 1vw, 1.1rem + 1.5vw);
    padding: 10px 35px;
    border-radius: 35px;
    cursor: pointer;
    /* background-color: #F793AF; */
    color: snow;
    border: none;
    width: 100%;
    max-width: 384px;
    margin: 40px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.productBtnContainer button span{
    position: relative;
    display: inline-block;

    width: 100%;
    height: 40px;
    max-width: 40px;

    /* margin-right: 30px; */
}

.waitingTime, .aboutMoreProds, .weight{
    margin: 35px 0;
}

.aboutMoreProds{
    font-size: clamp(1.6rem, 1.2rem + 0.5vw, 1rem + 1.2vw);
}

@media(max-width: 1410px){
    .article{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .description{
        margin: 40px auto;
    }
    .productTextContainer h2{
        margin: 40px 0;
    }
    .productBtnContainer{
        margin: 0 auto;
        max-width: 400px;
    }
    .productTextContainer{
        margin: auto;
    }
}