html{
    scroll-behavior: smooth;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    margin-top: 100px ;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section div{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.linkSection{
    display: flex;
    align-items: center;

}

.section div h1{ 
     font-size: clamp(1.5rem , 0.7rem + 1.4vw, 1.3rem + 2vw);
    width: 100%;
    max-width: 800px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: #F8D7D7CC;
}

.link{
    display: inline-block;
     font-size: clamp(1.4rem, .6vw + .75rem, .6vw + 1.25rem);
    width: 100%;
    max-width: 350px;
    background-color: #FFFFFF;
    padding: 30px 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.3);
    margin: 0 30px;
    color: black;
    text-decoration: none;
}
.section p {
    font-size: clamp(1.4rem, .6vw + .75rem, .6vw + 1.25rem);
}

@media((max-width: 880px)){
     .linkSection{
        flex-direction: column;
    
        }

    .section p {
        margin: 30px 0;
    }
}

/* @media(orientation: portrait){
     
} */