html{
    scroll-behavior: smooth;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    margin-top: 100px ;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.linkSection{
    display: flex;
    align-items: center;

}

.section div h1, .localization div h1{ 
     font-size: clamp(1.5rem , 0.7rem + 1.4vw, 1.3rem + 2vw);
    width: 100%;
    max-width: 800px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.3);
    background-color: #F8D7D7CC;
}
.localization div h1{
    /* width: 800px; */
}
.link{
    display: inline-block;
     font-size: clamp(1.4rem, .6vw + .75rem, .6vw + 1.25rem);
    width: 100%;
    max-width: 350px;
    background-color: #FFFFFF;
    padding: 30px 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 4px 6px 0px rgba(0, 0, 0, 0.3);
    margin: 0 30px;
    color: black;
    text-decoration: none;
}
.section p {
    font-size: clamp(1.4rem, .6vw + .75rem, .6vw + 1.25rem);
}

.localization{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
}
  .localizationHeader{

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.shopsCardContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 80px 0;
    padding: 20px 40px;
    border: 2px solid red;
    border-radius: 60px;
}

.ImgContainer{
    border-radius: 60px;
    overflow: hidden;
    height: 700px;
    /* flex-basis: 70%; */
    position: relative;
    margin-bottom: 30px;
}
.card p{
    font-size: clamp(1.4rem, 0.75rem + 0.6vw, 1.25rem + 0.6vw);
    text-align: center;
}

@media(max-width: 1410px){
    .shopsCardContainer{
    /* display: flex;
    justify-content: space-around;
    width: 100%; */
    flex-direction: column;
    align-items: center;
}

}
@media((max-width: 880px)){
     .linkSection{
        flex-direction: column;
        
        }

    .section p {
        margin: 30px 0;
    }
    .card{
        padding: 0;
    }
}

/* @media(orientation: portrait){
     
} */