@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Manrope:wght@200..800&display=swap');
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
 
 
  
 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
 overflow-x: hidden;
}
html,
body {
  max-width: 100vw;
 /* overflow-x: hidden; */
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  padding-top: 80px;

  font-weight: 400;
  font-style: normal;
}

body {
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}
@media (max-width: 1300px) {
   body{
      overflow-x: hidden;
   }
}


.balooFont{
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
 
}
.error, .not-found{
  width: 100%;
  text-align: center;
  margin: 300px 0;
}

 