.h1{
    font-size: clamp(3.4rem, 2.8rem + 1.5vw, 0.4rem + 4vw);
    text-align: center;
    color: #0F172A;
}

.cardBox{
    margin: 0 auto 60px auto;
    min-height: 700px;
    gap: 6rem 2rem;
    width: 70%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
    
}


.ImgBox, .descriptionImgBox, .shopSection{
    position: relative;
}


.card{
    width: 100%;
    max-width: 350px;
    height: 60%;
    background-color: #D9D9D9;
    border-radius: 90px;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: 0 0 12px 4px #D9D9D9;

}

.ImgBox{
    width: 70%;
    height: 75%; 
    max-width: 280px;
    border-radius: 90px;
    overflow: hidden;
}
.name{
    font-size: clamp(2.3rem, 1rem + 1.35vw, 2rem + 2vw);
    padding: 10px 0;
}

.article, .descriptionBox, .shopSection{
    margin: 0 auto 100px auto;
    width: 80%;
    font-size: clamp(1.2rem, .6vw + 1.75rem, .6vw + 1.25rem);

}
.article p:nth-child(1){
    margin-bottom: 40px;
}
.descriptionBox{
    display: flex;
    gap: 6rem;
    justify-content: space-between;
    align-items: center;
   
    /* min-height: 700px; */
}
.descriptionBox p{
    flex-basis: 60%;
}
.descriptionImgBox{
    width: 100%;
    max-width: 380px;
    height: 580px;
     overflow: hidden;
    border-radius: 60px;
    box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.327);
}
.shopSection{
    height: clamp(13rem + 2vw, 35rem + 15vw, 28rem + 24vw);
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.327);
}
.shopSection img{
    object-fit: cover;
}

@media(max-width: 1024px){
    .h1{
        margin-bottom: 90px;
    }
    .cardBox{
         min-height: 900px;
        flex-direction: column;
        align-items: center;
         
    }
    .card{
        width: 110%;
    }
    .ImgBox{
   
    max-width: 230px;
   
}

    .descriptionBox{
        flex-direction: column;
        align-items: center;
    }
    .descriptionImgBox img{
        object-fit: cover;
    }
/* .descriptionImgBox{
     
    height: 680px;
} */
}