:root{
    --leafOne: 30%;
    --donutX: 5%;
  
  }
@property --bg1 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(240, 77, 104, 0.55);
}

@property --bg2 {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(255, 255, 255, 1);
}

.main {
  /* overflow: hidden; */
  /* min-height: 90vh; */
  height: 870px;
  max-width: 100%;
  background: radial-gradient(
    circle,
    var(--bg1, rgba(240, 77, 104, 0.55)) 16%,
    var(--bg2, rgba(255, 255, 255, 1)) 73%
  );
  background-repeat: no-repeat;
  background-position-x: 130%;
  background-size: 62%;
  transition: --bg1 1.2s ease-in-out, --bg2 1.2s ease-in-out,
    background-position 1.2s ease-in-out, background-size 1.2s ease-in-out;
  will-change: background;
  display: flex;
}
.leftPanel,
.rightPanel {
  flex-basis: 50%;
}
.leftPanel,
.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightPanel {
  position: relative;
  pointer-events: none;
}
.viewport {
  margin-top: -140px;
  height: 150px;
  overflow: hidden;
}

.slider {
  transition: transform 0.8s ease-in-out;
}
.slide {
  font-size: clamp(2.4rem, 2.8rem + 1.5vw, 0.4rem + 4vw);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f172a;
  /* background: #eee; */
}
.descriptionBox {
  position: relative;
  width: 65%;
  height: 20%;
  /* transform: translateY(-25px); */
}
.description {
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(0.9rem, 0.6vw + 0.75rem, 0.6vw + 1.25rem);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  color: #304065;
}
.description.active {
  opacity: 1;
}
.links {
  width: 70%;
  /* height: 20%; */
  /* transform: translateY(-100px); */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links a {
  display: inline-block;
  width: 210px;
  padding: 12.5px 0;
  text-decoration: none;
  text-align: center;
  font-size: clamp(0.9rem, 0.6vw + 0.75rem, 1.25rem + 0.3vw);
  border-radius: 30px;
  color: white;

  box-shadow: 8px 5px 12px 2px rgba(0, 0, 0, 0.316);
  transition: transform 0.3s ease, background-color 0.8s ease-in-out;
}
.links a:hover {
  transform: translateY(-5px);
}

.donutsBtnsContainer {
  height: 10%;
  width: 80%;
  margin-top: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.donutsBtn {
  position: relative;
  height: clamp(5rem, 4vw + 5rem, 5rem + 7.5vw);
  width: clamp(5rem, 4vw + 5rem, 5rem + 7.5vw);
  border-radius: 50%;
  cursor: pointer;
  border: none;
  box-shadow: 4px 3px 12px 3px rgba(0, 0, 0, 0.3);
  transition: 0.8s ease-in-out;
  /* transform: scale(); */
}
.donutsBtn img,
.donutContainer img,
.donutContainer {
  pointer-events: none;
}
.donutsBtn.active {
  transform: scale(1.2);
  margin: 0 30px;
}

.donutContainer {
  position: absolute;
  left: 100%;
  top: 50%;
  height: clamp(15rem, 14vw + 18rem, 10rem + 22vw);
  width: clamp(15rem, 14vw + 18rem, 10rem + 22vw);
  border-radius: 50%;
  /* transform: translateY(-50%); */
}
.donutContainer.active {
  animation: donut 1s ease-in-out forwards;
  z-index: 1;
}

.donutContainer.reverse {
  animation: donut-reverse 1s ease-in-out forwards;
  z-index: 0;
}

@keyframes donut {
  0% {
    left: 105%;
    transform: translate(var(--donutX),-50%) rotate(-270deg);
  }
  100% {
    left: 25%;
    transform: translate(var(--donutX),-50%) rotate(0deg);
  }
}

@keyframes donut-reverse {
  0% {
    left: 25%;
    transform: translate(var(--donutX),-50%) rotate(0deg);
  }
  100% {
    left: 105%;
    transform: translate(var(--donutX),-50%) rotate(-270deg);
  }
}




/* SECTION */

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
  text-align: center;
}
.section h2 {
 font-size: clamp(2rem , 1.7rem + 1.1vw, 2rem + 1.7vw);
  color: #223248;
}
.section p {
 font-size: clamp(1.2rem, .6vw + 1.75rem, .6vw + 1.25rem);
  margin-top: 1.5%;
}

/* SECTION CLIENTS */

.sectionClients {
  text-align: center;
  min-height: 600px;
  margin-bottom: 5%;
  padding: 0 2%;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}
.sectionClients h1 {
  font-size: clamp(2rem , 0.7rem + 1.1vw, 1rem + 1.5vw);
  color: #223248;
  padding: 0 2%;
}
.customersBox {
  height: auto;
  min-height: 450px;
  width: 100%;
  display: flex;
   
  gap: 2rem;
  justify-content: space-around;
   
  padding: 2rem 1rem;
  /* background-color: yellow; */
}

@media (max-width: 1410px){
  :root{
    --donutX: -5%;
  }
}
 

@media (max-width: 1024px) {
  :root{
 --leafOne: 10%;
  --donutX: 5%;
 }
  .main{
    flex-direction: column-reverse;
    justify-content: center;
    /* margin-top: 15%; */
    background-repeat: repeat;
    background-position-y: -200px ;
    height: 1250px;
  }
  .viewport{
     margin-top: 0;
  }
  .descriptionBox{
    height: 30%;
  }
  .leftPanel,
.rightPanel {
  flex-basis: 40%;
  
}
  .description{
      font-size: clamp(0.9rem, 0.9vw + 0.75rem, 0.6vw + 1.25rem);
  }
  .customersBox {
    flex-direction: column;
    align-items: center;
    /* gap: 1.5rem; */
  }

  .sectionClients {
    min-height: auto;
    padding: 2rem 1rem;
  }
  
  .section {
   
  margin: 9% 0;
}

 
}

@media (max-width: 430px){
  :root{
    --donutX: -5%;
  }
  .donutsBtnsContainer{
    width: 100%;
  }
  .descriptionBox {
  text-align: center;
  width: 85%;
   
  /* transform: translateY(-25px); */
}
}
