.div-image {
  position: relative;
  width: 300px;
  height: 300px;
  /* background-color: red; */
}
 

.main {
  /* overflow: hidden; */
  /* min-height: 90vh; */
  height: 870px;
  max-width: 100%;
  background: #f04d68;
  background: radial-gradient(
    circle,
    rgba(240, 77, 104, 0.48) 16%,
    rgba(255, 255, 255, 1) 73%
  );
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-size: 62%;
 
  display: flex;
}
.leftPanel,
.rightPanel {
  flex-basis: 50%;
}
.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.viewport {
  height: 150px;
  overflow: hidden;
}

.slider {
  transition: transform .8s ease-in-out;
}
.slide {
  font-size: clamp(1.4rem, 2.8rem + 1.5vw, 0.4rem + 4vw);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f172a;
  /* background: #eee; */
}
.descriptionBox {
  position: relative;
  width: 65%;
  height: 20%;
  transform: translateY(-25px);
}
.description {
  position: absolute;
  top: 0;
  left: 0;
  font-size: clamp(0.9rem, 0.6vw + 0.75rem, 1.25rem);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  color: #304065;
}
.description.active {
  opacity: 1;
}
.links{
    width: 70%;
    height: 20%;
    transform: translateY(-100px);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links a{
  display: inline-block;
  width: 210px;
  padding: 12.5px 0;
  text-decoration: none;
  text-align: center;
  font-size: clamp(0.9rem, 0.6vw + 0.75rem, 1.25rem + .3vw);
  border-radius: 30px;
  color: white;
   
  box-shadow: 8px 5px 12px 2px rgba(0, 0, 0, 0.316);
  transition: transform 0.3s ease, background-color 0.8s ease-in-out;
}
.links a:hover{
  transform: translateY(-5px);
}


.donutsBtnsContainer button {
  position: relative;
  height: 163px;
  width: 163px;
  border-radius: 50%;
  cursor: pointer;
}
