.footer{
    /* min-height: 50vh; */
    text-align: center;
}
.footer h3{
     font-size: clamp(2rem , 0.7rem + 1.1vw, 1rem + 1.5vw);
} 
.footer p{ 
    line-height: 1.3;
    text-align: center;
    font-size: clamp(0.9rem, 0.6vw + 0.75rem, 1.25rem);
     
}
.bottom-space{
    margin-bottom: 2.5rem;
}
