.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  padding: 90px 0 190px 0;
  margin-bottom: 40px;
  background-image: url("../../assets/donutsBgc.jpg");
}

.loginPanel {
  border: 2px solid #b8b4b4;
  border-radius: 35px;
  padding: 50px;
  box-shadow: 4px 4px 4px 0px #b8b4b4;
  max-width: 800px;
  background-color: snow;
  /* backdrop-filter: blur(7px); */
  width: 100%;
  max-width: 603px;
}

.loginPanel h1 {
  font-size: clamp(2rem, 0.7rem + 1.4vw, 1.3rem + 2vw);
  margin-bottom: 20px;
  text-align: center;
}
.labelAndInputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.labelAndInputBox label {
  margin-bottom: 10px;
}

.labelAndInputBox input {
  padding: 5px 5px 5px 15px;
  border: 2px solid #b8b4b4;
  border-radius: 35px;
  height: 45px;
  background-color: transparent;
  outline: none;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.checkboxInput {
  width: 22px;
  height: 22px;
}
.checkboxLabel {
  margin-left: 10px;
}

.checkboxLabel:hover {
  cursor: pointer;
}

.btnContainer {
  text-align: center;
}

.link {
  margin: 30px 0;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
}
.btnContainer button,
.link {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 35px;
  background-color: #f9dede;

  cursor: pointer;
}

.btnContainer button:hover,
.link:hover {
  background-color: #b8b4b4;
}

.registerHeaderBox p,
.labelAndInputBox label,
.checkboxLabel,
.labelAndInputBox input,
.btnContainer button,
.errorMessage,
.link,
.hrBox p,
.loginOtherMethodBtn a {
  font-size: clamp(1.1rem, 0.6vw + 0.75rem, 0.6vw + 1.25rem);
}

.errorMessage {
  color: red;
  margin: 20px 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0, 0, 0);
  box-shadow: inset 0 0 20px 20px rgba(211, 19, 19, 0);
}

.hrBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hrBox hr {
  width: 35%;
  /* background-color: red; */
}
.hrBox p {
  margin: 0 20px;
}

.loginOtherMethodBtn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.loginOtherMethodBtn a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.banModalBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 50;
}

.banModalBox {
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;
  width: min(480px, 100%);
  text-align: center;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}

.banModalActions {
  margin-top: 16px;
}

.banModalActions button {
  padding: 10px 18px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.45);
  background-color: #f9dede;
  cursor: pointer;
}

@media (orientation: portrait) {
  .loginPanel {
    padding: 40px 20px;
    max-width: 90%;
  }
}
