.fruitOne, .fruitTwo, .fruitThree{
height: clamp(5rem, 6vw + 4rem, 2rem + 5vw);
  width: clamp(5rem, 6vw + 4rem, 2rem + 5vw);
}
.fruitOne {
  position: absolute;
  top: -3%;
  left: 120%;

  transform: translateX(-45%) rotate(-25deg);
  
}

.fruitOne.active {
  animation: fruitOne 1s ease-in-out forwards;
  z-index: 1;
}

.fruitOne.reverse {
  animation: fruitOne-reverse 1s ease-in-out forwards;
  z-index: 0;
}

@keyframes fruitOne {
  0% {
    left: 120%;
    transform: translateX(-45%) rotate(-250deg);
  }
  100% {
    left: 45%;
    transform: translateX(-45%) rotate(0deg);
  }
}

@keyframes fruitOne-reverse {
  0% {
    left: 45%;
    transform: translateX(-45%) rotate(0deg);
  }
  100% {
    left: 120%;
    transform: translateX(-45%) rotate(-250deg);
  }
}

.fruitTwo {
  position: absolute;
  top: 15%;
  left: 120%;

  transform: translateX(-45%);
  
}

.fruitTwo.active {
  animation: fruitTwo 1s ease-in-out forwards;
  z-index: 1;
}

.fruitTwo.reverse {
  animation: fruitTwo-reverse 1s ease-in-out forwards;
  z-index: 0;
}

@keyframes fruitTwo {
  0% {
    left: 120%;
    transform: translateX(-90%) rotate(-200deg);
  }
  100% {
    left: 90%;
    transform: translateX(-90%) rotate(-45deg);
  }
}

@keyframes fruitTwo-reverse {
  0% {
    left: 90%;
    transform: translateX(-90%) rotate(-45deg);
  }
  100% {
    left: 120%;
    transform: translateX(-90%) rotate(-200deg);
  }
}

.fruitThree {
  position: absolute;
  top: 70%;
  left: 120%;

  transform: translateX(-45%);
  
}

.fruitThree.active {
  animation: fruitThree 1s ease-in-out forwards;
  z-index: 1;
}

.fruitThree.reverse {
  animation: fruitThree-reverse 1s ease-in-out forwards;
  z-index: 0;
}

@keyframes fruitThree {
  0% {
    left: 120%;
    transform: translateX(-15%) rotate(0);
  }
  100% {
    left: 15%;
    transform: translateX(-15%) rotate(-195deg);
  }
}

@keyframes fruitThree-reverse {
  0% {
    left: 15%;
    transform: translateX(-15%) rotate(-195deg);
  }
  100% {
    left: 120%;
    transform: translateX(-15%) rotate(0);
  }
}

.leafOne {
  position: absolute;
  top: 4%;
  left: 120%;

  /* transform: translateX(-45%); */
  height: clamp(2.5rem, 6vw + 4rem, 2rem + 5vw);
  width: clamp(2.5rem, 6vw + 4rem, 2rem + 5vw);
}

.leafOne.active {
  animation: leafOne 1s ease-in-out forwards;
  z-index: 1;
}

.leafOne.reverse {
  animation: leafOne-reverse 1s ease-in-out forwards;
  z-index: 0;
}

@keyframes leafOne {
  0% {
    left: 120%;
    transform: translateX(calc(-1 * var(--leafOne))) rotate(-250deg);
  }
  100% {
    left: var(--leafOne);
    transform: translateX(calc(-1 * var(--leafOne))) rotate(0);
  }
}

@keyframes leafOne-reverse {
  0% {
    left: var(--leafOne);
    transform: translateX(calc(-1 * var(--leafOne))) rotate(0);
  }
  100% {
    left: 120%;
    transform: translateX(calc(-1 * var(--leafOne))) rotate(-250deg);
  }
}

.leafTwo {
  position: absolute;
  top: 45%;
  left: 120%;

  transform: translateX(-45%);
  height: clamp(2.5rem, 6vw + 4rem, 2rem + 5vw);
  width: clamp(2.5rem, 6vw + 4rem, 2rem + 5vw);
}

.leafTwo.active {
  animation: leafTwo 1s ease-in-out forwards;
  z-index: 1;
}

.leafTwo.reverse {
  animation: leafTwo-reverse 1s ease-in-out forwards;
  z-index: 0;
}

@keyframes leafTwo {
  0% {
    left: 120%;
    transform: translateX(-95%) rotate(-250deg);
  }
  100% {
    left: 95%;
    transform: translateX(-95%) rotate(0);
  }
}

@keyframes leafTwo-reverse {
  0% {
    left: 95%;
    transform: translateX(-95%) rotate(0);
  }
  100% {
    left: 120%;
    transform: translateX(-95%) rotate(-250deg);
  }
}
@media((min-width:1024px) and (max-width: 1472px) ){
   
  .fruitOne{
    top:10%;
  }
  .leafOne{
    top:18%;
  }
}